body {
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
}

#display-stop-watch, 
#display-timer{
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    font-size: 18px;
    margin: 5px;
    padding: 10px 20px;
}